body {
}
footer{
    position:relative;
}

.menyfastnav{
    
    font-size:20px;
    list-style:none;
   
}
.menyfastnav a{
  
    color:black;
}
.menyh1 h1{
   padding-left:10%;
    font-size:80px;
}
.leftside {
    
        padding:20px;
        font-size: 24px;
        height: auto;
        color: white;
        background-color: rgba( 0,0,0,.7);
        padding-bottom:20px;
    }
.rightside{
    
        padding:20px;
        font-size: 24px;
        height: auto;
        color: white;
        background-color: rgba( 0,0,0,.7);
        padding-bottom:20px;
}

@media only screen and (min-width : 992px){
    .leftside {
    
      margin-top: 10%;
        font-size: 14px;  
       
        
    }
}
@media only screen and (min-width : 1224px) {
    .menyfastnav{
    padding-top:130px;
    font-size:20px;
    list-style:none;
   
}
    .leftside {
      
      margin-top: 5%;
        font-size: 14px;  
       
        
    }
}
