
body {
    background: url('../IMG/pizza-711662_1280.jpg') fixed;
    background-size: cover;
}
#chosen{
     background-color: rgba(128, 128, 128,.5);
}
    footer {
        padding: 20px 0 0 20px;
        color: white;
        margin-top: 10%;
        background-color: rgba( 0,0,0,.7);
    }
      .navmenu {   
        height: 60px;
        margin-top: 1%;
        font-size: 30px;
        font: bold;
        text-align: center;
        color: black;
        background-color: gray;
        transition: all 1s;
        
    }
        .navmenuhover:hover {
        text-decoration: none;
        background-color: rgba(128, 128, 128,.5);
    }
      .navmenuend{
         visibility:collapse;
      }
      .logo {
        padding-left:180px;
    
    }
@media only screen and (min-width : 992px) {

    .logo {
        padding: 20px;
        height: 100px;
    }
  
    .navmenu {
      
        height: 55px;
        margin-top: 1%;
        font-size: 16px;
        font: bold;
        text-align: center;
        color: black;
        background-color: gray;
        transition: all 1s;
    }
    .navmenuend{
        visibility:visible;
      }

    .navleft {
        border-radius: 10px 0 0 10px;
    }

    .navright {
        border-radius: 0 10px 10px 0;
    }

  

    .navbutton {
        background-color: rgba(128, 128, 128,.5);
        border-color: rgb(128, 128, 128);
    }

}
@media only screen and (min-width : 1224px) {

    .navmenu {
       padding-top:30px;

        height: 60px;
        margin-top:5%;
        font-size: 20px;
        font: bold;
        text-align:end;
        color: white;
        background-color: rgba(0,0,0,.6);
        transition: all 1s;
    }
    footer{
      
        bottom:0;
        width:100%;
    }
}
