body {
}
.order{
    background-color:black;
    font-size:35px;
    color:white;
 
}
.leftside {
    
        text-align: center;
        font-size: 24px;
        height: auto;
        color: white;
        background-color: rgba( 0,0,0,.7);
        padding-bottom:20px;
    }
@media only screen and (min-width : 1224px) {

    .leftside {
       
      margin-top: 10%;
        font-size: 14px;  
       
        
    }
}
